<div class="page-layout carded fullwidth">


    <div class="top-bg accent"></div>

    <div class="center">

        
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Module de gestion des réclamations</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>Réclamation</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" style="font-size:20px">

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type Réclamation</th>
            <th>Description</th>
            <th>Nature</th>
            <th>Date</th>
            <th>Etat</th>  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reclamations of reclamation">
            <td> {{reclamations.typeReclamation}} </td>
            <td> {{reclamations.description}} </td>
            <td> {{reclamations.nature}} </td>     
            <td> {{reclamations.date}} </td>
            <td> {{reclamations.etat}} </td>
        </tr>
    </tbody>
</table>
        </div>
                
        </div>

    </div>

</div>

